<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">

    <TextView
        android:layout_width="match_parent"
        android:layout_height="50dp"
        android:paddingTop="10dp"
        android:paddingStart="8dp"
        android:text="@string/settings"
        android:textSize="18sp"
        android:textColor="@color/cardview_light_background"
        android:background="@color/colorPrimaryDark"
        tools:ignore="RtlSymmetry" />


    <Button
        android:id="@+id/editButton"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="@string/edit_profile" />

    <Button
        android:id="@+id/changePassButton"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="@string/change_password" />

    <Button
        android:id="@+id/helpButton"
        android:layout_width="match_parent"

        android:layout_height="wrap_content"
        android:text="@string/help" />

    <Button
        android:id="@+id/backButton"
        android:layout_width="100dp"
        android:layout_height="wrap_content"
        android:layout_gravity="right"
        android:text="@string/back"
        tools:ignore="RtlHardcoded" />
</LinearLayout>
